<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AsyncOAuth" version="0.8.4" targetFramework="wpa81" />
  <package id="Cimbalino.Toolkit" version="2.0.0" targetFramework="wpa81" />
  <package id="Cimbalino.Toolkit.Core" version="2.0.0" targetFramework="wpa81" />
  <package id="CommonServiceLocator" version="1.3" targetFramework="wpa81" />
  <package id="Fody" version="1.29.2" targetFramework="wpa81" developmentDependency="true" />
  <package id="Insta.Portable" version="0.1.5.1-beta" targetFramework="wpa81" />
  <package id="JetBrainsAnnotations.Fody" version="1.0.4.0" targetFramework="wpa81" developmentDependency="true" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Build" version="1.0.14" targetFramework="wpa81" />
  <package id="Microsoft.Bcl.Compression" version="3.9.85" targetFramework="wpa81" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="wpa81" />
  <package id="MvvmLightLibs" version="5.2.0.0" targetFramework="wpa81" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="wpa81" />
  <package id="NotificationsExtensions.UniversalApps" version="1.0.3" targetFramework="wpa81" />
  <package id="PCLCrypto" version="1.0.2.15130" targetFramework="wpa81" />
  <package id="PocketSharp" version="4.1.6.1" targetFramework="wpa81" />
  <package id="PropertyChanged.Fody" version="1.50.3" targetFramework="wpa81" developmentDependency="true" />
  <package id="Readability.Portable" version="1.1.1" targetFramework="wpa81" />
  <package id="ScottIsAFool.Windows" version="0.0.1.5-pre" targetFramework="wpa81" />
  <package id="ScottIsAFool.Windows.Core" version="0.0.1.5-pre" targetFramework="wpa81" />
  <package id="ThemeManagerRt" version="1.1" targetFramework="wpa81" />
  <package id="Validation" version="2.0.6.15003" targetFramework="wpa81" />
</packages>